body {
    background-color: #d58936;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #3c1518;
    text-align: center;
}

.link {
    color: #69140e;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header{
    color: #a44200;
}

#description {
    color: #69140e;
}

.parent .child {
    color:#a44200;
}

.header.ingredients {
    font-size: 24px
}